In [1]:
master = spark.read.format("csv")\
  .option("header", "false")\
  .load("/sqoop/stock_master/*")

In [2]:
master.show()

+-------+--------------+------------+------+----------+----------+----------+
|    _c0|           _c1|         _c2|   _c3|       _c4|       _c5|       _c6|
+-------+--------------+------------+------+----------+----------+----------+
|A098120|마이크로컨텍솔|KR7098120009|KOSDAQ|2008-09-23|    보통주|2022-01-23|
|A131100|  스카이이앤엠|KR7131100000|KOSDAQ|2011-06-14|    보통주|2022-01-23|
|A009520|    포스코엠텍|KR7009520008|KOSDAQ|1997-11-10|    보통주|2022-01-23|
|A095570|    AJ네트웍스|KR7095570008| KOSPI|2015-08-21|    보통주|2022-01-23|
|A006840|      AK홀딩스|KR7006840003| KOSPI|1999-08-11|    보통주|2022-01-23|
|A282330|     BGF리테일|KR7282330000| KOSPI|2017-12-08|    보통주|2022-01-23|
|A027410|           BGF|KR7027410000| KOSPI|2014-05-19|    보통주|2022-01-23|
|A138930|   BNK금융지주|KR7138930003| KOSPI|2011-03-30|    보통주|2022-01-23|
|A001465|         BYC우|KR7001461003| KOSPI|1989-09-05|구형우선주|2022-01-23|
|A001460|           BYC|KR7001460005| KOSPI|1975-06-02|    보통주|2022-01-23|
|A001045|          CJ우|KR7001041003| KOSPI|1989-08-18|구형우선주|2022-01-23|
|A00104K|   CJ4우(전환)|KR700104K010| KOSPI|2019-08-09|신형우선주|2022-01-23|
|A001040|            CJ|KR7001040005| KOSPI|1973-06-29|    보통주|2022-01-23|
|A011155|   CJ씨푸드1우|KR7011151008| KOSPI|1990-01-13|구형우선주|2022-01-23|
|A011150|      CJ씨푸드|KR7011150000| KOSPI|1988-11-26|    보통주|2022-01-23|
|A058820|       CMG제약|KR7058820002|KOSDAQ|2001-08-31|    보통주|2022-01-23|
|A000590|      CS홀딩스|KR7000590000| KOSPI|1975-12-22|    보통주|2022-01-23|
|A012030|            DB|KR7012030003| KOSPI|1993-01-06|    보통주|2022-01-23|
|A016610|    DB금융투자|KR7016610008| KOSPI|1988-06-27|    보통주|2022-01-23|
|A005830|    DB손해보험|KR7005830005| KOSPI|1973-06-28|    보통주|2022-01-23|
+-------+--------------+------------+------+----------+----------+----------+
only showing top 20 rows

In [3]:
week = spark.read.format("csv")\
  .option("header", "false")\
  .load("/sqoop/naver_week_table3/*")

In [4]:
week.show()

+-------+----------+----+----+----+----+------+
|    _c0|       _c1| _c2| _c3| _c4| _c5|   _c6|
+-------+----------+----+----+----+----+------+
|A000020|2002-11-22|1350|1386|1342|1366|107861|
|A000020|2002-11-29|1372|1412|1354|1390|124102|
|A000020|2002-12-06|1412|1424|1380|1394|145479|
|A000020|2002-12-13|1386|1466|1380|1404|214833|
|A000020|2002-12-20|1400|1410|1376|1376| 98433|
|A000020|2002-12-27|1384|1406|1310|1332| 80960|
|A000020|2003-01-03|1330|1352|1284|1346| 80887|
|A000020|2003-01-10|1334|1348|1296|1308|121400|
|A000020|2003-01-17|1294|1348|1294|1320| 89108|
|A000020|2003-01-24|1320|1342|1308|1320|100885|
|A000020|2003-01-30|1308|1340|1270|1288| 67522|
|A000020|2003-02-07|1282|1316|1282|1282| 42551|
|A000020|2003-02-14|1266|1322|1262|1310|127853|
|A000020|2003-02-21|1336|1366|1316|1316| 71314|
|A000020|2003-02-28|1320|1344|1304|1314| 71280|
|A000020|2003-03-07|1314|1338|1244|1246| 68690|
|A000020|2003-03-14|1240|1242|1182|1222| 70757|
|A000020|2003-03-21|1220|1290|1190|1290|148157|
|A000020|2003-03-28|1296|1326|1222|1228|357964|
|A000020|2003-04-04|1206|1316|1162|1242|367749|
+-------+----------+----+----+----+----+------+
only showing top 20 rows

In [5]:
from pyspark.sql.types import StructField, StructType, StringType, LongType, DateType
myManualSchema = StructType([
  StructField("st_id", StringType(), True),
  StructField("st_name", StringType(), True),
  StructField("st_kr", StringType(), True), 
  StructField("st_market", StringType(), True),
  StructField("list_dd", DateType(), True),
  StructField("kind_stkcert_tp_nm", StringType(), True),
  StructField("create_date", DateType(), True)
])

In [6]:
master = spark.read.format("csv")\
  .schema(myManualSchema)\
  .option("header", "false")\
  .load("/sqoop/stock_master/*")

In [7]:
master.show()

+-------+--------------+------------+---------+----------+------------------+-----------+
|  st_id|       st_name|       st_kr|st_market|   list_dd|kind_stkcert_tp_nm|create_date|
+-------+--------------+------------+---------+----------+------------------+-----------+
|A098120|마이크로컨텍솔|KR7098120009|   KOSDAQ|2008-09-23|            보통주| 2022-01-23|
|A131100|  스카이이앤엠|KR7131100000|   KOSDAQ|2011-06-14|            보통주| 2022-01-23|
|A009520|    포스코엠텍|KR7009520008|   KOSDAQ|1997-11-10|            보통주| 2022-01-23|
|A095570|    AJ네트웍스|KR7095570008|    KOSPI|2015-08-21|            보통주| 2022-01-23|
|A006840|      AK홀딩스|KR7006840003|    KOSPI|1999-08-11|            보통주| 2022-01-23|
|A282330|     BGF리테일|KR7282330000|    KOSPI|2017-12-08|            보통주| 2022-01-23|
|A027410|           BGF|KR7027410000|    KOSPI|2014-05-19|            보통주| 2022-01-23|
|A138930|   BNK금융지주|KR7138930003|    KOSPI|2011-03-30|            보통주| 2022-01-23|
|A001465|         BYC우|KR7001461003|    KOSPI|1989-09-05|        구형우선주| 2022-01-23|
|A001460|           BYC|KR7001460005|    KOSPI|1975-06-02|            보통주| 2022-01-23|
|A001045|          CJ우|KR7001041003|    KOSPI|1989-08-18|        구형우선주| 2022-01-23|
|A00104K|   CJ4우(전환)|KR700104K010|    KOSPI|2019-08-09|        신형우선주| 2022-01-23|
|A001040|            CJ|KR7001040005|    KOSPI|1973-06-29|            보통주| 2022-01-23|
|A011155|   CJ씨푸드1우|KR7011151008|    KOSPI|1990-01-13|        구형우선주| 2022-01-23|
|A011150|      CJ씨푸드|KR7011150000|    KOSPI|1988-11-26|            보통주| 2022-01-23|
|A058820|       CMG제약|KR7058820002|   KOSDAQ|2001-08-31|            보통주| 2022-01-23|
|A000590|      CS홀딩스|KR7000590000|    KOSPI|1975-12-22|            보통주| 2022-01-23|
|A012030|            DB|KR7012030003|    KOSPI|1993-01-06|            보통주| 2022-01-23|
|A016610|    DB금융투자|KR7016610008|    KOSPI|1988-06-27|            보통주| 2022-01-23|
|A005830|    DB손해보험|KR7005830005|    KOSPI|1973-06-28|            보통주| 2022-01-23|
+-------+--------------+------------+---------+----------+------------------+-----------+
only showing top 20 rows

In [8]:
from pyspark.sql.types import IntegerType
myManualSchema_week = StructType([
  StructField("st_id", StringType(), True),
  StructField("st_week", DateType(), True),
  StructField("st_open", IntegerType(), True), 
  StructField("st_high", IntegerType(), True),
  StructField("st_low", IntegerType(), True),
  StructField("st_close", IntegerType(), True),
  StructField("st_trade", IntegerType(), True)
])

In [9]:
week = spark.read.format("csv")\
  .schema(myManualSchema_week)\
  .option("header", "false")\
  .load("/sqoop/naver_week_table3/*")

In [10]:
week.show()

+-------+----------+-------+-------+------+--------+--------+
|  st_id|   st_week|st_open|st_high|st_low|st_close|st_trade|
+-------+----------+-------+-------+------+--------+--------+
|A000020|2002-11-22|   1350|   1386|  1342|    1366|  107861|
|A000020|2002-11-29|   1372|   1412|  1354|    1390|  124102|
|A000020|2002-12-06|   1412|   1424|  1380|    1394|  145479|
|A000020|2002-12-13|   1386|   1466|  1380|    1404|  214833|
|A000020|2002-12-20|   1400|   1410|  1376|    1376|   98433|
|A000020|2002-12-27|   1384|   1406|  1310|    1332|   80960|
|A000020|2003-01-03|   1330|   1352|  1284|    1346|   80887|
|A000020|2003-01-10|   1334|   1348|  1296|    1308|  121400|
|A000020|2003-01-17|   1294|   1348|  1294|    1320|   89108|
|A000020|2003-01-24|   1320|   1342|  1308|    1320|  100885|
|A000020|2003-01-30|   1308|   1340|  1270|    1288|   67522|
|A000020|2003-02-07|   1282|   1316|  1282|    1282|   42551|
|A000020|2003-02-14|   1266|   1322|  1262|    1310|  127853|
|A000020|2003-02-21|   1336|   1366|  1316|    1316|   71314|
|A000020|2003-02-28|   1320|   1344|  1304|    1314|   71280|
|A000020|2003-03-07|   1314|   1338|  1244|    1246|   68690|
|A000020|2003-03-14|   1240|   1242|  1182|    1222|   70757|
|A000020|2003-03-21|   1220|   1290|  1190|    1290|  148157|
|A000020|2003-03-28|   1296|   1326|  1222|    1228|  357964|
|A000020|2003-04-04|   1206|   1316|  1162|    1242|  367749|
+-------+----------+-------+-------+------+--------+--------+
only showing top 20 rows

1. 두 테이블을 조인한다
2. hdfs 저장
(pig)

------------
1. spark에서 mysql 접속해서 위와 동일 작업

In [11]:
# 조인 
joinexpression = master['st_id'] == week['st_id']

In [12]:
# https://spark.apache.org/docs/3.1.1/api/python/reference/api/pyspark.sql.DataFrame.join.html
jointype = 'inner'
rt = week.join(master, joinexpression, jointype).drop(master.st_id)

In [13]:
rt.show()

+-------+----------+-------+-------+------+--------+--------+--------+------------+---------+----------+------------------+-----------+
|  st_id|   st_week|st_open|st_high|st_low|st_close|st_trade| st_name|       st_kr|st_market|   list_dd|kind_stkcert_tp_nm|create_date|
+-------+----------+-------+-------+------+--------+--------+--------+------------+---------+----------+------------------+-----------+
|A000020|2002-11-22|   1350|   1386|  1342|    1366|  107861|동화약품|KR7000020008|    KOSPI|1976-03-24|            보통주| 2022-01-23|
|A000020|2002-11-29|   1372|   1412|  1354|    1390|  124102|동화약품|KR7000020008|    KOSPI|1976-03-24|            보통주| 2022-01-23|
|A000020|2002-12-06|   1412|   1424|  1380|    1394|  145479|동화약품|KR7000020008|    KOSPI|1976-03-24|            보통주| 2022-01-23|
|A000020|2002-12-13|   1386|   1466|  1380|    1404|  214833|동화약품|KR7000020008|    KOSPI|1976-03-24|            보통주| 2022-01-23|
|A000020|2002-12-20|   1400|   1410|  1376|    1376|   98433|동화약품|KR7000020008|    KOSPI|1976-03-24|            보통주| 2022-01-23|
|A000020|2002-12-27|   1384|   1406|  1310|    1332|   80960|동화약품|KR7000020008|    KOSPI|1976-03-24|            보통주| 2022-01-23|
|A000020|2003-01-03|   1330|   1352|  1284|    1346|   80887|동화약품|KR7000020008|    KOSPI|1976-03-24|            보통주| 2022-01-23|
|A000020|2003-01-10|   1334|   1348|  1296|    1308|  121400|동화약품|KR7000020008|    KOSPI|1976-03-24|            보통주| 2022-01-23|
|A000020|2003-01-17|   1294|   1348|  1294|    1320|   89108|동화약품|KR7000020008|    KOSPI|1976-03-24|            보통주| 2022-01-23|
|A000020|2003-01-24|   1320|   1342|  1308|    1320|  100885|동화약품|KR7000020008|    KOSPI|1976-03-24|            보통주| 2022-01-23|
|A000020|2003-01-30|   1308|   1340|  1270|    1288|   67522|동화약품|KR7000020008|    KOSPI|1976-03-24|            보통주| 2022-01-23|
|A000020|2003-02-07|   1282|   1316|  1282|    1282|   42551|동화약품|KR7000020008|    KOSPI|1976-03-24|            보통주| 2022-01-23|
|A000020|2003-02-14|   1266|   1322|  1262|    1310|  127853|동화약품|KR7000020008|    KOSPI|1976-03-24|            보통주| 2022-01-23|
|A000020|2003-02-21|   1336|   1366|  1316|    1316|   71314|동화약품|KR7000020008|    KOSPI|1976-03-24|            보통주| 2022-01-23|
|A000020|2003-02-28|   1320|   1344|  1304|    1314|   71280|동화약품|KR7000020008|    KOSPI|1976-03-24|            보통주| 2022-01-23|
|A000020|2003-03-07|   1314|   1338|  1244|    1246|   68690|동화약품|KR7000020008|    KOSPI|1976-03-24|            보통주| 2022-01-23|
|A000020|2003-03-14|   1240|   1242|  1182|    1222|   70757|동화약품|KR7000020008|    KOSPI|1976-03-24|            보통주| 2022-01-23|
|A000020|2003-03-21|   1220|   1290|  1190|    1290|  148157|동화약품|KR7000020008|    KOSPI|1976-03-24|            보통주| 2022-01-23|
|A000020|2003-03-28|   1296|   1326|  1222|    1228|  357964|동화약품|KR7000020008|    KOSPI|1976-03-24|            보통주| 2022-01-23|
|A000020|2003-04-04|   1206|   1316|  1162|    1242|  367749|동화약품|KR7000020008|    KOSPI|1976-03-24|            보통주| 2022-01-23|
+-------+----------+-------+-------+------+--------+--------+--------+------------+---------+----------+------------------+-----------+
only showing top 20 rows

In [14]:
rt.write.csv("hdfs:///data/mystock")

In [17]:
# db에서 바로 가져오기 
master_db = spark.read.format("jdbc")\
      .option("url","jdbc:mysql://namenode:3306/stock")\
      .option("driver","com.mysql.cj.jdbc.Driver")\
      .option("dbtable","stock_master")\
      .option("user","root").option("password","1234").load()

Py4JJavaError: An error occurred while calling o89.load.
: java.lang.ClassNotFoundException: com.mysql.cj.jdbc.Driver
	at java.net.URLClassLoader.findClass(URLClassLoader.java:387)
	at java.lang.ClassLoader.loadClass(ClassLoader.java:418)
	at java.lang.ClassLoader.loadClass(ClassLoader.java:351)
	at org.apache.spark.sql.execution.datasources.jdbc.DriverRegistry$.register(DriverRegistry.scala:46)
	at org.apache.spark.sql.execution.datasources.jdbc.JDBCOptions.$anonfun$driverClass$1(JDBCOptions.scala:101)
	at org.apache.spark.sql.execution.datasources.jdbc.JDBCOptions.$anonfun$driverClass$1$adapted(JDBCOptions.scala:101)
	at scala.Option.foreach(Option.scala:407)
	at org.apache.spark.sql.execution.datasources.jdbc.JDBCOptions.<init>(JDBCOptions.scala:101)
	at org.apache.spark.sql.execution.datasources.jdbc.JDBCOptions.<init>(JDBCOptions.scala:39)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcRelationProvider.createRelation(JdbcRelationProvider.scala:33)
	at org.apache.spark.sql.execution.datasources.DataSource.resolveRelation(DataSource.scala:350)
	at org.apache.spark.sql.DataFrameReader.loadV1Source(DataFrameReader.scala:274)
	at org.apache.spark.sql.DataFrameReader.$anonfun$load$3(DataFrameReader.scala:245)
	at scala.Option.getOrElse(Option.scala:189)
	at org.apache.spark.sql.DataFrameReader.load(DataFrameReader.scala:245)
	at org.apache.spark.sql.DataFrameReader.load(DataFrameReader.scala:174)
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at sun.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.lang.reflect.Method.invoke(Method.java:498)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:182)
	at py4j.ClientServerConnection.run(ClientServerConnection.java:106)
	at java.lang.Thread.run(Thread.java:750)